*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to left, #0dc0e4, #0ed5df, #0fd1db);
    background-attachment: fixed;
}
main{
    min-width: 300px;
    max-width: 1000px;
    height: 100%;
    margin: auto;
    padding: 0 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.306);
    border-radius: 0px 0px 5px 5px;
    overflow-x: hidden;
}
.dados-perfil{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
}
.img-capa{
    width: 100%;
    height: 270px;
    background: #fff;
    border-radius: 0 0 20px 20px;
    border: 2px solid #0dc0e4;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.306);
    overflow: hidden;
    cursor: pointer;
}
.img-capa img{
    width: 100%;
    height: 100%;
}
ion-icon{
    height: 30px;
    width: 30px;
}
.editar-capa{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(220, 220, 220);
    border-radius: 50%;
    transform: translate(1665%,-130%);
    box-shadow: 1px 5px 15px rgba(255, 255, 255, 0.163);
    overflow: hidden;
    position: fixed;
}
.img-perfil{
    height: 150px;
    width: 130px;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid #0dc0e4;
    background-color: #fff;
    transform: translate(50%, -50%);
    overflow: hidden;
    cursor: pointer;
}
.img-perfil img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.name{
    transform: translate(23%,-280%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

 fieldset{
    margin-bottom: 20px;
    padding: 40px;
    border-radius: 15px 5px;
    margin-left: 70px;
    border: 2px solid #0ed5df;
    width: 70%;
}
.informacoes{
    width: 100%;
    margin: auto;
}
legend{
    color: #042d35;
    font-size: 20px;
    margin: 0px 20px;
    border-bottom: 2px solid #0dc0e4;
    border-right: 2px solid #0dc0e4;
    border-radius: 7px;
    padding: 4px;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.163);
}
fieldset ul li{
    list-style: none;
    margin-bottom: 10px;
}
fieldset ul li span{
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.info-pessoais{
    display: flex;
    align-items: center;
    justify-content: left;
}
.editar{
    height: 50px;
    width: 50px;
    background:  rgb(220, 220, 220);
    border-radius: 50%;
    transform: translate(680%,-160%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.055);
}
.ranks{
    display: block;
}
.rank-feitos{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 7px;
    border-bottom: 1px solid #0dc0e4;
    overflow: hidden;
    margin-bottom: 25px;
    border-radius: 8px;
}
.rank-feitos button{
    width: 100px;
    height: 28px;
    background: linear-gradient(to left, #0dc0e4, #0ed5df, #0fd1db);
    border: 1px solid #fff;
    border-radius: 50px;
    color: rgb(255, 252, 252);
    box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.049);   
    cursor: pointer;
}
.rank-feitos button:hover{
    background: linear-gradient(to left, #0fb1d2, #0eb7c0, #0ebdc6);
}
.nome-quizz h4{
    font-size: 18px;
}
.nome-quizz span{
    display: flex;
    justify-content: center;
}
